* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  height: 15rem;
  width: 18rem;
  object-fit: contain;
} */

.bg-orinoco-color {
  background-color: #f3e9f1;
}

input:invalid {
  border: 2px dashed red;
}
