* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-orinoco-color {
  background-color: #f3e9f1;
}

input:invalid {
  border: 2px dashed red;
}
.containerbete {
  height: 10rem;
}
